* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #6a5acd;
    display: flex;
    height: 100%;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*min-height: 100vh;*/

    border: 0;
}

.container {
    display: block;
    background-color: #F2F1EC;
    border-radius: 0px;
    border:none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.19);
    margin-left:calc((100% - 900px)/2) ;  /* Cálculos para deixar no centro */
    margin-top: calc((100vh - 490px)/2);
    width: 900px; /* Largura do retângulo */
    height: 490px; /* Altura do retângulo */

}
.signIn-container /* Digamos que a "caixa de texto" do retangulo onde pode dispor as coisas dentro dele */{
    display: flex;
    height:100%;
    width: 100%;
    align-items: center;
    justify-content: left;
}
.conteudo {
    display: block;
    width:50%;
    height:80%;
    align-items:center;
    justify-content: left;
    background-color: #F2F1EC;/*#F2F1EC antiquewhite;*/

}

.header {
    display:block;
    padding: 10px 40px;
}

.header h2 {
    display:flex;
    font-weight: 700;
    color: #0a1b2d;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header h3 {
    display:flex;
    font-weight: 300;
    color: #0a1b2d;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
    display:block;
    padding: 0 40px 20px;
}

.form-control {
    margin-bottom: 8px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: flex;
    margin-bottom: 5px;
    color: #0a1b2d ;
    font-weight: bold;
}

.form-control input {
    border:1px solid rgb(177, 177, 177);
    border-radius: 20px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 100%;
    padding: 15px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #6A5ACD;
    border:1px solid rgb(62, 30, 122);
    border-radius: 20px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    margin-top: 5px;

    cursor: pointer;
}

.form button:hover {
    background-color: #584ff5;
    transition: 0.3s;
}

.image{
    padding-right:none;
    display: flex;
    height:100%;
    width: 50%;
    align-items: center;
    justify-content: right;
    object-position: right;
    background-color: antiquewhite;
  }

  .link{
    display:flex;

    color: #0a1b2d;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 40px;
    padding-bottom: 20px;

  }
  .link a{
    color: #0a1b2d;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:none;
  }
  .link h4{
    color: #0a1b2d;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }